<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="DefaultLayout">

<head>
<title>CADASTRO DE VAGAS</title>
</head>
<section layout:fragment="content">
	<div style="padding-top: 30px">
		<div
			class="card col-lg-10 col-md-10 col-sm-10 container justify-content-center"
			style="width: 50rem;">
			<h3 class="card-title text-center" style="padding-top: 10px">Cadastro de vagas</h3>
			<div class="card-body">
				<form action="/wa/vagas/cadastrar/sucesso" method="POST"
					data-toggle="validator" role="form" th:object="${vaga}">
					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>
					<input type="hidden" th:field="*{id}"/>
					<div class="form-group">
						<label for="projeto">Projeto</label> <input type="text"
							class="form-control" id="projeto" aria-describedby="matricula"
							th:field="*{projeto}" data-error="Por favor, informe o projeto."
							required> <small id="emailHelp"
							class="form-text text-muted"></small>
						<div class="help-block with-errors error"></div>
					</div>

					<div class="form-group">
						<label for="descricao">Descrição</label>
						<textarea class="form-control" id="descricao"
							th:field="*{descricao}"
							data-error="Por favor, informe a descrição." required rows="3"></textarea>
						<div class="help-block with-errors error"></div>
					</div>

					<div th:classappend="${#fields.hasErrors('tecnologias')} ? error"class="form-group " style="padding-top: 10px;">
						<label for="tecnologias">Tecnologias</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="tecnologias"
								th:field="*{tecnologias}" th:each="tecnologia : ${todasTecnologias}"
								th:text="${tecnologia.nome}" th:value="${tecnologia.id}">
						</div>
					</div>

					<div class="form-group">
						<label for="abertura_vaga">Data de abertura</label> <input
							type="text" class="form-control" id="abertura_vaga"
							data-provide="datepicker" data-date-format="dd/mm/yyyy"
							data-date-language="pt-BR" data-date-autoclose="true"
							data-date-today-highlight="true" th:field="*{abertura_vaga}">
						<small id="abertura_vaga" class="form-text text-muted">Clique
							no campo para selecionar a data.</small>
					</div>

					<div class="form-group">
						<label for="qtd_vaga">Quantidade</label> <input type="number"
							min="1" step="1" class="form-control" id="qtd_vaga"
							th:field="*{qtd_vaga}"
							data-error="Por favor, informe a quantidade." required>
						<div class="help-block with-errors error"></div>
					</div>

					<div class="form-group">
						<label for="codigo">Codigo</label> <input type="text"
							class="form-control" id="codigo" aria-describedby="emailHelp"
							data-error="Por favor, informe o codigo." required
							th:field="*{codigo}"><small id="emailHelp"
							class="form-text text-muted"></small>
						<div class="help-block with-errors error"></div>
					</div>

					<button type="submit" class="btn btn-primary">Cadastrar</button>
				</form>
			</div>
		</div>
	</div>
	<section th:replace="MensagemGeral"></section>
</section>
</html>