<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="DefaultLayout">

<head>
<title>Cadastro de funcionário</title>
</head>
<section layout:fragment="content">
	<div style="padding-top: 30px">
		<div
			class="card col-lg-10 col-md-10 col-sm-10 container justify-content-center"
			style="width: 50rem;">
			<h3 class="card-title text-center" style="padding-top: 10px">Cadastro de funcionário</h3>
			<div class="card-body">
				<form action="/wa/funcionarios/cadastrar/sucesso" method="POST"
					th:object="${funcionario}" data-toggle="validator" role="form"
					id="cadastroFuncionario">
					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>
					<input type="hidden" th:field="*{id}"/>
					<div class="form-group">
						<label for="nome">Nome</label> <input type="text"
							class="form-control" id="nome" aria-describedby="emailHelp"
							th:field="*{nome}" data-error="Por favor, informe um nome." required>
						<small id="emailHelp" class="form-text text-muted"></small>
						<div class="help-block with-errors error"></div>
					</div>
					<div class="form-group">
						<label for="matricula">Matrícula</label> <input type="text"
							class="form-control" id="matricula" aria-describedby="matricula"
							th:field="*{matricula}" data-error="Por favor, informe a matrícula"
							required> <small id="emailHelp"
							class="form-text text-muted"></small>
						<div class="help-block with-errors error"></div>
					</div>

					<div class="form-group" th:classappend="${#fields.hasErrors('gft')} ?  error">
						<label for="Local">Local de trabalho</label>
						<div class="input-group mb-3">
							<select class="custom-select"id="gft" th:field="*{gft}" th:classappend="${#fields.hasErrors('gft')} ?  is-invalid">
								<option value="0"selected>selecione uma opção...</option>
								<option th:each="gft : ${GFTs}" th:value="${gft.id}"
									th:text="${gft.nome}"></option>
							</select>
							<div class="input-group-append">
								<label class="input-group-text" for="inputGroupSelect02">Local</label>
							</div>
						</div>
					</div>
					<div class="form-group ">
						<label for="cargo">Cargo</label> <input type="text"
							class="form-control" id="cargo" th:field="*{cargo}"
							data-error="Por favor, informe um cargo" required>
						<div class="help-block with-errors error"></div>
					</div>

					<div th:classappend="${#fields.hasErrors('tecnologias')} ? error"class="form-group " style="padding-top: 10px;">
						<label for="tecnologias">Tecnologias</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="tecnologias"
								th:field="*{tecnologias}" th:each="tecnologia : ${todasTecnologias}"
								th:text="${tecnologia.nome}" th:value="${tecnologia.id}">

						</div>
					</div>

					<div  th:classappend="${#fields.hasErrors('inicio_wa')} ?  error"class="form-group is-invalid">
						<label for="inicio_wa">Data de inicio (WA)</label> <input th:classappend="${#fields.hasErrors('inicio_wa')} ?  is-invalid"
							type="text" class="form-control" id="inicio_wa"
							data-provide="datepicker" data-date-format="dd/mm/yyyy"
							data-date-language="pt-BR" data-date-autoclose="true"
							data-date-today-highlight="true" th:field="*{inicio_wa}"> <small
							id="emailHelp" class="form-text text-muted">Clique no
							campo para selecionar a data.</small>
					</div>

					<div class="form-group">
						<label for="inicio_wa">Previsão para termino (WA)</label> <input
							type="text" class="form-control" id="termino_wa"
							data-provide="datepicker" data-date-format="dd/mm/yyyy"
							data-date-language="pt-BR" data-date-autoclose="true"
							data-date-today-highlight="true" th:field="*{termino_wa}"> <small
							id="emailHelp" class="form-text text-muted">Clique no
							campo para selecionar a data.</small>
					</div>
					<div class="help-block with-errors"></div>
					<button type="submit" class="btn btn-primary">Cadastrar</button>
				</form>
			</div>
		</div>
	</div>
	<section th:replace="MensagemGeral"></section>
</section>
</html>