<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="DefaultLayout">
<head>
<title>HOME</title>
</head>
<section layout:fragment="content">
	<div style="padding-top: 100px">
	<div class="card d-flex container justify-content-center" style="width: 50em;">
		<h1 class="card-title text-center" style="padding-top: 10px">Bem
			vindo ao EMS - Employee Management System</h1>

		
			<div class="card-body d-flex container justify-content-center">
			<a href="/funcionario/cadastro" style="font-size: 18pt; width: 200px; height: 100px;" class="btn btn-primary d-flex container justify-content-center" role="button" aria-pressed="true">Cadastro de funcionários</a>
			<a href="/vaga/cadastro" style="font-size: 18pt; width: 200px; height: 100px;" class="btn btn-primary d-flex container justify-content-center" role="button" aria-pressed="true">Cadastro de Vagas</a>
			<a href="/historico?nomeFuncionario=" style="font-size: 18pt; width: 200px; height: 100px;" class="btn btn-primary d-flex container justify-content-center" role="button" aria-pressed="true"><br/>Histórico W.A.</a>
			</div>
			<div class="card-body d-flex container justify-content-center">
				<a href="/funcionario/pesquisa?matricula=" style="font-size: 18pt; width: 200px; height: 100px;" class="btn btn-primary d-flex container justify-content-center" role="button" aria-pressed="true">Pesquisa de funcionários</a>
			<a href="/vaga/pesquisa?codigo=" style="font-size: 18pt; width: 200px; height: 100px;" class="btn btn-primary d-flex container justify-content-center" role="button" aria-pressed="true">Pesquisa de Vagas</a>
			<a href="/funcionario/alocar" style="font-size: 18pt; width: 200px; height: 100px;" class="btn btn-primary d-flex container justify-content-center" role="button" aria-pressed="true"><br/>Alocação</a>
			</div>
		</div>	
	</div>


	<section th:replace="MensagemGeral"></section>
</section>
</html>